DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME"
DATABASE_URL_SHADOW="postgresql://USER:PASSWORD@HOST:PORT/DB_NAME"

REDIS_URL="redis://:PASSWORD@HOST:PORT/DB"
REDIS_LOGGING_URL="redis://:PASSWORD@HOST:PORT"
ACTIVITY_LOG_KEY="queue:duitrapi_dev"
JWT_SECRET="CHANGE_ME"

AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_ACCESS_KEY
AWS_REGION=ap-southeast-3
AWS_BUCKET=duitrapi

SMTP_HOST="smtp.example.com"
SMTP_PORT=465
SMTP_USER="emailapikey"
SMTP_PASS="CHANGE_ME"

APP_URL="http://localhost:3000"
EMAIL_FROM="DuitRapi <no-reply@setotechs.com>"

EMAIL_QUEUE_REDIS_URL="redis://:PASSWORD@HOST:PORT"
EMAIL_QUEUE_KEY="queue:setostore"
EMAIL_INTERNAL_TOKEN="CHANGE_ME"
EMAIL_FROM_NAME="SetoStore"
EMAIL_FROM_ADDRESS_MAP='{"verify":"sales@setotechs.com","loginOtp":"no-reply@setotechs.com","reminder":"billing@setotechs.com"}'